@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* INDEX PAGE */
.moveUpDownPdf {
  animation: MoveUpDownPdf 3s linear infinite;
  position: absolute;
  top: 30%;
}
.moveUpDownImage {
  animation: MoveUpDownImage 3s linear infinite;
  position: absolute;
  top: 55%;
}
.moveUpDownText {
  animation: MoveUpDownText 3s linear infinite;
  position: absolute;
  top: 27%;
}
.moveUpDownAi {
  animation: MoveUpDownAi 4s linear infinite;
  position: absolute;
  bottom: 17%;
}
.moveUpDownCompress {
  animation: MoveUpDownCompress 4s linear infinite;
  position: absolute;
  top: 28%;
}
.moveUpDownSummary {
  animation: MoveUpDownSummary 4s linear infinite;
  position: absolute;
  bottom: 15%;
}

@keyframes MoveUpDownSummary {
  0%,
  100% {
    bottom: 15%;
  }
  50% {
    bottom: 20%;
  }
}

@keyframes MoveUpDownCompress {
  0%,
  100% {
    top: 28%;
  }
  50% {
    top: 32%;
  }
}
@keyframes MoveUpDownAi {
  0%,
  100% {
    bottom: 17%;
  }
  50% {
    bottom: 20%;
  }
}
@keyframes MoveUpDownText {
  0%,
  100% {
    top: 27%;
  }
  50% {
    top: 30%;
  }
}
@keyframes MoveUpDownImage {
  0%,
  100% {
    top: 55%;
  }
  50% {
    top: 59%;
  }
}
@keyframes MoveUpDownPdf {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 33%;
  }
}
/* INDEX PAGE */
/* RANGE SLIDER */

/* range 2 */
.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #00a9ff;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #00a9ff;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 169, 255, 0.1);
}
.range-input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 169, 255, 0.2);
}
.range-input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 169, 255, 0.2);
}

.range-input::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 169, 255, 0.1);
}
.range-input:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 169, 255, 0.2);
}
.range-input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 169, 255, 0.2);
}

.value2,
.value3,
.value4 {
  font-size: 26px;
  width: 50px;
  text-align: center;
}

/* range 3 */
.range-slider {
  flex: 1;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks span {
  display: flex;
  justify-content: center;
  width: 1px;
  height: 10px;
  background: #d3d3d3;
  line-height: 40px;
}

/*=============
Aesthetics 
=========================*/

body {
  font-family: system-ui;
}

h1 {
  color: #4b4949;
  text-align: center;
}

.wrapper {
  color: #4b4949;
  max-width: 600px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 500px;
  height: 80%;
  background: #fff;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.range {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
/* RANGE SLIDER */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media screen and (max-width: 576px) {
  .custom_container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .max-w-full {
    max-width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .custom_container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .custom_container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .custom_container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .custom_container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .custom_container {
    width: 1320px;
  }
}
